<div class="modal fade" id="modal_delete{{ process.id }}" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Are you sure you want to delete this process?
            </div>
            <div class="modal-body">
                <p class="text-left">#<b>{{ process.id }}</b></p>
                <p class="text-left"><b>{{ process.name }}</b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn cancel-btn btn-default" data-bs-dismiss="modal">Cancel</button>
                <form method="post" action="{{ path("process_delete", {id: process.id}) }}"
                      style="display: inline-block">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="_token" data-bs-toggle="modal"
                           data-bs-target="#confirm-submit{{ process.id }}"
                           value="{{ csrf_token('delete' ~ process.id) }}">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>