{% extends 'base.html.twig' %}

{% block title %}Process index{% endblock %}

{% block body %}
<section class="wrapper">
    <div class="button-div">
        <a class="btn-top custom-search-btn" href="#"><i class="fas fa-search"></i></a>
        <a class="btn-top" href="{{ path('process_new') }}">Create new</a>
    </div>

    {{ form_start(form, {'attr': {'class': 'hidden'}}) }}
    <div class="d-flex flex-row justify-content-start form-control">

        <div class="p-2">
            {{ form_widget(form.Name) }}
        </div>
        <div class="p-2">
            <button class="btn btn-outline-secondary" type="submit" id="button-search">Search</button>
        </div>

    </div>
    {{ form_end(form) }}

    {% for message in app.flashes('alert') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('sucess') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th{% if pagination.isSorted('s.id') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, '#', 's.id') }}</th>
                <th{% if pagination.isSorted('s.Name') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Name', 's.Name') }}</th>
                <th{% if pagination.isSorted('s.Description') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Description', 's.Description') }}</th>
                <th{% if pagination.isSorted('s.CreatedAt') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Created At', 's.CreatedAt') }}</th>
                <th{% if pagination.isSorted('s.UpdatedAt') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Updated At', 's.UpdatedAt') }}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for process in pagination %}
            <tr>
                <td>{{ process.id }}</td>
                <td>{{ process.Name }}</td>
                <td>{{ process.Description | u.truncate(50, '...')}}</td>
                <td>{{ process.CreatedAt ? process.CreatedAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ process.UpdatedAt ? process.UpdatedAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('process_show', {'id': process.id}) }}"><i class="far fa-eye"></i></a>
                    <a href="{{ path('process_edit', {'id': process.id}) }}"><i class="fas fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation button-div">
        {{ knp_pagination_render(pagination) }}
    </div>
</section>
{% endblock %}
