{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <section class="wrapper">
        <div class="button-div">
            <a class="btn-top" href="{{ path('user_index') }}">back to list</a>
            {% if user.id is not same as app.user.id %}
                {{ include('user/_delete_form.html.twig') }}
                {{ include('user/_modal_delete.html.twig') }}
                {% for r in user.roles %}
                    {% if r is same as ("ROLE_USER") %}
                        {{ include('user/_admin_form.html.twig') }}
                    {% endif %}
                    {% if r is same as ("ROLE_ADMIN") %}
                        {{ include('user/_user_form.html.twig') }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('user/_modal_admin.html.twig') }}
        {{ include('user/_modal_user.html.twig') }}
    </section>
{% endblock %}
