{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <section class="wrapper">
        <div class="button-div">
            <a class="btn-top" href="{{ path('user_new') }}">Create new</a>
        </div>

        {% for message in app.flashes('sucess') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('alert') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}


        <table class="table table-responsive table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.Name }}</td>
                    <td>{{ user.Surname }}</td>
                    <td>{{ user.Email }}</td>
                    <td>{% for role in user.Roles %}{{ role }}{% endfor %}</td>
                    <td>
                        <a href="{{ path('user_show', {'id': user.id}) }}"><i class="far fa-eye"></i></a>
                        <a href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-pen"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
