{% extends 'base.html.twig' %}

{% block title %}All Processes{% endblock %}

{% block body %}
    <section class="wrapper">
        <div class="button-div">
            <a class="btn-top custom-search-btn" href="#"><i class="fas fa-search"></i></a>
            <a class="btn-top" href="{{ path('companyprocess_new') }}">Create new</a>

        </div>

        {{ form_start(form, {'attr': {'class': 'hidden'}}) }}
        <div class="d-flex flex-row justify-content-start form-control">

            <div class="p-2">
                {{ form_widget(form.company) }}
            </div>
            <div class="p-2">
                {{ form_widget(form.state) }}
            </div>
            <div class="p-2">
                {{ form_widget(form.process) }}
            </div>
            <div class="p-2">
                <button class="btn btn-outline-secondary" type="submit" id="button-search">Search</button>
            </div>

        </div>
        {{ form_end(form) }}


        {% for message in app.flashes('alert') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('sucess') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th{% if pagination.isSorted('s.id') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, '#', 's.id') }}</th>
                    <th>Process</th>
                    <th>Company</th>
                    <th>State</th>
                    <th>Advancement</th>
                    <th{% if pagination.isSorted('s.createdAt') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'Created At', 's.createdAt') }}</th>
                    <th{% if pagination.isSorted('s.updatedAt') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'Updated At', 's.updatedAt') }}</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for process in pagination %}
                    {% if process.isSoftDeleted is not same as true %}
                        <tr>
                            <td>{{ process.id }}</td>
                            <td>
                                <a href="{{ path('process_show', {'id': process.process.id}) }}">{{ process.process.name }}</a>
                            </td>
                            <td>
                                <a href="{{ path('company_show', {'id': process.company.id}) }}">{{ process.company.name }}</a>
                            </td>
                            <td>{{ process.state.name }}</td>
                            <td>
                                <div class="progress">
                                    {% if process.process.steps is not same as null %}
                                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                                             style="width: {{ (process.companyProcessSteps|length / process.process.steps|length * 100) | round(2, "floor") }}%"
                                             aria-valuenow="{{ (process.companyProcessSteps|length / process.process.steps|length * 100) | round(2, "floor") }}"
                                             aria-valuemin="0"
                                             aria-valuemax="100">{{ (process.companyProcessSteps|length / process.process.steps|length * 100) | round(2, "floor") }}
                                            %
                                        </div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                                             style="width: {{ (process.companyProcessSteps|length / process.process.steps|length * 100) | round(2, "floor") }}%"
                                             aria-valuenow="0"
                                             aria-valuemin="0"
                                             aria-valuemax="100">0
                                            %
                                        </div>
                                    {% endif %}
                                </div>
                            </td>
                            <td>{{ process.createdAt ? process.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                            <td>{{ process.updatedAt ? process.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
                            <td>
                                <a href="{{ path('companyprocess_show', {'id': process.id}) }}"><i
                                            class="far fa-eye"></i></a>
                                <a href="{{ path('companyprocess_edit', {'id': process.id}) }}"><i
                                            class="fas fa-pen"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        {% if app.user.roles['0'] is same as "ROLE_ADMIN" %}
                            <tr class="redtr">
                                <td>{{ process.id }}</td>
                                <td>
                                    <a href="{{ path('process_show', {'id': process.process.id}) }}">{{ process.process.name }}</a>
                                </td>
                                <td>
                                    <a href="{{ path('company_show', {'id': process.company.id}) }}">{{ process.company.name }}</a>
                                </td>
                                <td>{{ process.State.Name }}</td>
                                <td>
                                    <div class="progress">
                                        {% if process.process.steps is not same as null %}
                                            <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                                                 style="width: {{ (process.companyProcessSteps|length / process.process.Steps|length * 100) | round(2, "floor") }}%"
                                                 aria-valuenow="{{ (process.companyProcessSteps|length / process.process.steps|length * 100) | round(2, "floor") }}"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100">{{ (process.companyProcessSteps|length / process.process.steps|length * 100) | round(2, "floor") }}
                                                %
                                            </div>
                                        {% else %}
                                            <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                                                 style="width: {{ (process.companyProcessSteps|length / process.process.Steps|length * 100) | round(2, "floor") }}%"
                                                 aria-valuenow="0"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100">0
                                                %
                                            </div>
                                        {% endif %}
                                    </div>
                                </td>
                                <td>{{ process.createdAt ? process.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                                <td>{{ process.updatedAt ? process.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
                                <td>
                                    <a href="{{ path('companyprocess_show', {'id': process.id}) }}"><i
                                                class="far fa-eye"></i></a>
                                    <a href="{{ path('companyprocess_rollback', {'id': process.id}) }}"><i
                                                class="fas fa-history"></i></a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="navigation button-div">
            {{ knp_pagination_render(pagination) }}
        </div>
    </section>
{% endblock %}
