{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block body %}
    <section class="wrapper">
        <div class="button-div">
            <a class="btn-top" href="{{ path('company_edit', {'id': company.id}) }}">edit</a>
            <a class="btn-top" href="{{ path('company_index') }}">back to list</a>
        </div>
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ company.name }}</td>
            </tr>
            <tr>
                <th>Contacts</th>
                <td>
                    <ul>
                        {% for contact in company.contacts %}
                            <li>
                                <b>Name:</b> {{ contact.name|upper }} {{ contact.surname|capitalize }}<br>
                                <b>Email:</b> {{ contact.email }}<br>
                                <b>Mobile:</b> {{ contact.mobile }}<br>
                                <b>Tel:</b> {{ contact.tel }}<br>
                                <br>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="button-div">
            {{ include('company/_delete_form.html.twig') }}
            {{ include('company/_modal_delete.html.twig') }}
        </div>

    </section>
{% endblock %}
